<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% render "devise/shared/error_messages", resource: resource %>

<div class="container">
  <div class="row">
    <div class="col">


  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"form-control w-50", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class:"form-control w-50", autocomplete: "new-password" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class:"form-control w-50", autocomplete: "new-password" %>
  </div>

<p>
  <div class="field form-check">
  <%= f.check_box :admin, class:"form-check-input", autocomplete: "admin" %>
    <%= f.label :admin %>
  </div></p>
</div>
<div class="col">
  <div class="field form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class:"form-control w-50", autocomplete: "first_name" %>
  </div>

<br>
  <div class="field form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class:"form-control w-50", autocomplete: "last_name" %>
  </div>
  <br>
  <div class="field form-group">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, class:"form-control w-50", autocomplete: "nickname" %>
  </div>
  <br>
  
  <div class="field form-group">
    <%= f.label :dob %><br />
    <%= f.date_field :dob, class:"form-control w-50", autocomplete: "dob" %>
  </div>
  <br>
  <div class="field form-group">
    <%= f.label :age %><br />
    <%= f.number_field :age, class:"form-control w-50", autocomplete: "age" %>
  </div>
  </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2">
<br>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-primary"%>
  </div>
</div>
  </div>
</div>
<% end %>
<br>


