<%= form_for @comment, :url => talk_comments_path(@comment.talk_id) do |form| %>
  
  <div class="field form-group">
    <% form.label :body %>
    <%= form.text_area :body, class:"form-control w-100", :rows => 10, placeholder: 'Add comment' %>
  </div>

  <div class="field form-group">
    <% form.label :talk_id %>
    <%= form.number_field :talk_id, type: :hidden %>
  </div>

   <div class="field form-group">
    <% form.label :user_id %>
    <%= form.number_field :user_id, type: :hidden %>
  </div>

  <div class="field form-group">
    <% form.label :parent_id %>
    <%= form.number_field :parent_id, type: :hidden %>
  </div>
<br>
  <div class="actions">
    <%= form.submit "Save", class:"btn btn-primary"%>    
  </div>
<% end %>
<br>