<%= form_with(model: talk) do |form| %>
 

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title,  class:"form-control w-100"%>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :text %>
    <%= form.text_area :text, class:"form-control w-100", :rows => 10 %>
  </div>
<br>
  <div class="field form-group mb-3">
    <%= form.label :photo %>
    <%= form.file_field :photo,  accept: 'image/png,image/gif,image/jpeg', class:"form-control w-50" %>     
  </div>

  <div class="field">
    <%= form.label :likes_number %>
    <%= form.number_field :likes_number %>
  </div>

  <div class="field">
    <%= form.label :dislikes_number %>
    <%= form.number_field :dislikes_number %>
  </div>

  <div class="field">
    <%= form.label :comments_number %>
    <%= form.number_field :comments_number %>
  </div>

  <div class="field">
    <%= form.label :shares_number %>
    <%= form.number_field :shares_number %>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class:"btn btn-primary" %>
  </div>
  <% end %>
  <br>



    
    
