<%= form_with(model: talk) do |form| %>
 <div class="field form-group">
    <%= form.label :theme, "Theme" %>
    <%= form.select :theme, ['Nature', 'Pets', 'Health', 'Lifestyle', 'Traveling', 'Science fiction', 'Technologies', 
    'Education', 'Other'],  class:"form-control w-100" %>
  </div>
<br>
  <div class="field form-group">
    <% form.label :title %>
    <%= form.text_field :title,  class:"form-control w-100", placeholder: 'Title' %>
  </div>
  <br>
  <div class="field form-group">
    <% form.label :text %>
    <%= form.text_area :text, class:"form-control w-100", :rows => 10, placeholder: 'Text' %>
  </div>
<br>
  <div class="field form-group mb-3">
    <% form.label :photo %>
    <%= form.file_field :photo,  accept: 'image/png,image/gif,image/jpeg', class:"form-control w-50" %>     
  </div>
  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class:"btn btn-primary" %>
  </div>
  <% end %>
  <br>



    
    
