<h1>Talks</h1>
<div class="table-responsive-sm">
<table  class=" table table-hover align-middle" >
  <thead class="table-light">
    <tr vertical-align: middle>

      <th>Title</th>
      <th>Text</th>
      <th>Photo</th>
      <th>Likes</th>      
      <th>Comments</th>
      <th>Shares</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 <tbody>
    <% @talks.each do |talk| %>
      <tr vertical-align: middle>
        <td><%= talk.title %></td>
        <td><%= talk.text %></td>
        <td><%= image_tag(talk.photo, size: '150') if talk.photo.present? %></td>
        <td><%= talk.likes.count %></td>
        <td><%= talk.comments_number %></td>
        <td><%= talk.shares_number %></td>
        <td><%= talk.user.nickname %></td>
        <td><%= link_to 'View', talk, class:"btn btn-outline-primary" %></td>
<% if current_user.admin?%>
        <td><%= link_to 'Edit', edit_talk_path(talk), class:"btn btn-outline-info" %></td>
        <td><%= link_to 'Delete', talk, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %></td>
<% end %>    
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<br>