<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card text-center">
  <div class="card-header">
    <%= image_tag(@talk.user.photo, size: '50', :style => "border-radius: 30px; border: 1px solid grey; margin:5px;") if @talk.user.photo.present? %>
    
    <strong><%= @talk.user.first_name %></strong>
    <strong><%= @talk.user.last_name %></strong>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @talk.title %></h5>
    <p class="card-text">
    <%= @talk.text %>
    <br>
    <%= image_tag(@talk.photo, size: '150') if @talk.photo.present? %>
   </p>
   <% if current_user.admin?%>
    <%= link_to 'Edit', edit_talk_path(@talk), class:"btn btn-outline-info" %>
   <% end %>
    </div>
  <div class="card-footer text-muted">
    likes: <%= @talk.likes_number %>
    dislikes: <%= @talk.dislikes_number %>
    comments: <%= @talk.comments_number %>
    shares: <%= @talk.shares_number %>

    <p>
    <%= link_to toggle_favorite_talk_path(@talk), remote: true, method: :post do %>
              <%= render 'talks/like_button', talk: @talk %>
            <% end %>        
    </p>
  </div>
</div>

<br>



