<div class="card text-center">
  <div class="card-header">
    <strong><%= @talk.user.photo %></strong>
    <strong><%= @talk.user.first_name %></strong>
    <strong><%= @talk.user.last_name %></strong>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @talk.title %></h5>
    <p class="card-text">
    <%= @talk.text %>
    <br>
    <%= @talk.photo %></p>
    <%= link_to 'Edit', edit_talk_path(@talk), class:"btn btn-outline-info" %>
    </div>
  <div class="card-footer text-muted">
    likes: <%= @talk.likes_number %>
    dislikes: <%= @talk.dislikes_number %>
    comments: <%= @talk.comments_number %>
    shares: <%= @talk.shares_number %>
  </div>
</div>

<br>
<p>
<%= link_to 'Back', talks_path %>
</p>
