<body style="background-image: url('https://mdbootstrap.com/img/new/slides/098.jpg');">
<p>
  <strong>Detailed info about User:</strong>
</p>
<p align="center">
  <strong>Talks:</strong>
</p>
  <table align="center" width="400">
  
  <thead>
    <tr>
      <th align="left">Title:</th>
      <th align="left">Text:</th>
      <th align="left">Photo:</th>
      <th align="left">Likes:</th>
      <th align="left">Dislikes:</th>
      <th align="left">Comments:</th>
      <th align="left">Shares:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @user.talks.each do |talk| %>
  <tr>
  <td><%= talk.title %></td>
  <td><%= talk.text %></td>
  <td><%= talk.photo %></td>
  <td><%= talk.likes_number %></td>
  <td><%= talk.dislikes_number %></td>
  <td><%= talk.comments_number %></td>
  <td><%= talk.shares_number %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</body>