<body style="background-color:#063561df;">

<p class="text-light">
  <strong>User's details:</strong>
  <br>
   <strong><%= image_tag(@user.photo, size: '150') if @user.photo.present? %></strong>
   <br>
    <strong><%= @user.first_name %></strong>
    <strong><%= @user.last_name %></strong>
</p>

<br>
<div class="card text-center">
  <div class="card-header">
    <strong>Talks:</strong>
  </div>


  <% @user.talks.each do |talk| %>
  
<div class="card-body">
    <h5 class="card-title"><%= talk.title %></h5>
    <p class="card-text">
    <%= talk.text %>
    <br>
    <%= talk.photo %></p>
    
    </div>
    
  <div class="card-footer text-muted">
    likes: <%= talk.likes_number %>
    dislikes: <%= talk.dislikes_number %>
    comments: <%= talk.comments_number %>
    shares: <%= talk.shares_number %>
    </div>
    

<% end %>

  </div>
</div>
<br>
</body>
