<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>Small Talks</span></h1>
      <h2>Here you can read and create small talks for any topic you are interested in, receive comments, and get acquainted with a reaction from other users</h2>
      </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= What We Do Section ======= -->
    <section id="what-we-do" class="what-we-do">
      <div class="container">

        <div class="section-title">
          <h2>What We Do</h2>
          <p>Magnam dolores commodi suscipit consequatur ex aliquid</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
              <h4><a href="">Lorem Ipsum</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
              <h4><a href="">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
              <h4><a href="">Magni Dolores</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End What We Do Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <%= image_tag "about.png", height: 400 %>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>About Us</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <ul>
              <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            </ul>
            <div class="row icon-boxes">
              <div class="col-md-6">
                
                <h4>Corporis voluptates sit</h4>
                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                
                <h4>Ullamco laboris nisi</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-6">
            <div class="count-box">
              <i class="fa fa-smile-o" aria-hidden="true"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <div class="count-box">
              <i class="fa fa-database" aria-hidden="true"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fa fa-wrench" aria-hidden="true"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fa fa-users" aria-hidden="true"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Most popular themes</h2>
          <p>You can read and cteate talks related to different themes</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="fa fa-tree" aria-hidden="true"></i>
              <h4><a href="#">Nature</a></h4>
              <p>The phenomena of the physical world collectively, including plants, animals, 
              the landscape, and other features and products of the earth. Within the various uses of 
              the word today, "nature" often refers to geology and wildlife. Nature can refer to the
              general realm of living plants and animals, and to the processes associated with inanimate 
              objects—the way, such as the weather 
              and geology of the Earth. It is often taken to mean the "natural environment" or 
              wilderness—wild animals, rocks, forest, and in general those things that have not been 
              substantially altered by human intervention, or which persist despite human intervention.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="fa fa-paw" aria-hidden="true"></i>
              <h4><a href="#">Pets</a></h4>
              <p>Two of the most popular pets are dogs and cats; the technical term for a cat lover is an ailurophile 
              and a dog lover a cynophile. Other animals commonly kept include: rabbits; ferrets; pigs; rodents, such as 
              gerbils, hamsters, chinchillas, rats, mice, and guinea pigs; avian pets, such as parrots, passerines and fowls; 
              reptile pets, such as turtles, alligators, crocodiles, lizards, and snakes; aquatic pets, such as fish, freshwater 
              and saltwater snails, amphibians like frogs and salamanders; and arthropod pets, such as tarantulas and hermit 
              crabs. Small pets may be grouped together as pocket pets.</p>
            </div>
            </div>
           <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="fa fa-user-md" aria-hidden="true"></i>
              <h4><a href="#">Health</a></h4>
              <p>The state of being free from illness or injury. The focus of public health interventions is to prevent and manage 
              diseases, injuries and other health conditions through surveillance of cases and the promotion of healthy behavior, 
              communities, and (in aspects relevant to human health) environments. Its aim is to prevent health problems from happening 
              or re-occurring by implementing educational programs, developing policies, administering services and conducting research. 
              In many cases, treating a disease or controlling a pathogen can be vital to preventing it in others, such as during an outbreak. 
              Vaccination programs and distribution of condoms to prevent the spread of communicable diseases are examples of common preventive 
              public health measures, as are educational campaigns to promote vaccination and the use of condoms.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="fa fa-universal-access" aria-hidden="true"></i>
              <h4><a href="#">Lifestyle</a></h4>
              <p>A lifestyle typically reflects an individual's attitudes, way of life, values, or world view. Therefore, a lifestyle is a means 
              of forging a sense of self and to create cultural symbols that resonate with personal identity. Not all aspects of a lifestyle are 
              voluntary. Surrounding social and technical systems can constrain the lifestyle choices available to the individual and the symbols
               she/he is able to project to others and the self. A rural environment has different lifestyles compared to an urban metropolis. 
               Location is important even within an urban scope. The nature of the neighborhood in which a person resides affects the set of 
               lifestyles available to that person due to differences between various neighborhoods' degrees of affluence and proximity to natural 
               and cultural environments. For example, in areas near the sea, a surf culture or lifestyle can often be present</p>
            </div>
          </div>          
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="fa fa-plane" aria-hidden="true"></i>
              <h4><a href="#">Traveling</a></h4>
              <p>Travel is the movement of people between distant geographical locations. Travel can be done by foot, bicycle, automobile, train, 
              boat, bus, airplane, ship or other means, with or without luggage, and can be one way or round trip. Travel can also include 
              relatively short stays between successive movements, as in the case of tourism. Reasons for traveling include recreation, 
              holidays, tourism or vacationing, research travel, the gathering of information, visiting people, volunteer travel for charity, 
              religious pilgrimages and mission trips, business travel, trade, and other 
              reasons, such as to obtain health care or for the enjoyment.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              <h4><a href="#">Education</a></h4>
              <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, morals, beliefs, habits 
              and personal development. Educational methods include teaching, training, storytelling, discussion and directed research. 
              Education frequently takes place under the guidance of educators; however, learners can also educate themselves. Education can 
              take place in formal or informal settings, and any experience that has a formative effect on the way one thinks, feels, or acts 
              may be considered educational. The methodology of teaching is called pedagogy. </p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="fa fa-laptop" aria-hidden="true"></i>
              <h4><a href="#">Technologies</a></h4>
              <p>Technology is the sum of any techniques, skills, methods, and processes used in the production of goods or services or in 
              the accomplishment of objectives, such as scientific investigation. Technology can be the knowledge of techniques, processes, 
              and the like, or it can be embedded in machines to allow for operation without detailed knowledge of their workings. Systems 
              (e.g. machines) applying technology by taking an input, changing it according to the system's use, and then producing an outcome 
              are referred to as technology systems or technological systems.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="fa fa-reddit-alien" aria-hidden="true"></i>
              <h4><a href="#">Science fiction</a></h4>
              <p>Science fiction (sometimes shortened to sci-fi or SF) is a genre of speculative fiction that typically deals with imaginative 
              and futuristic concepts such as advanced science and technology, space exploration, time travel, parallel universes, and 
              extraterrestrial life. It has been called the "literature of ideas", and it often explores the potential consequences of scientific, 
              social, and technological innovations. Science fiction is often said to inspire a "sense of wonder." Science fiction is being written, 
              and has been written, by diverse authors from around the world.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Feedbacks</h2>

          <p>Here you can get acquainted with the most thought-provoking feedback about our Site</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">

          <% @feedbacks.each do |feedback| %>

              <% case(feedback.recommendation) when 'yes' %>
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  
                  <%= truncate(feedback.experience, length: 500, omission: '...')%>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>                
                <%= image_tag(feedback.user.photo, class:"testimonial-img") if feedback.user.photo.present?  %>

                <h3><%= feedback.user.nickname %></h3>
                <h4> <%= feedback.user.calculate_age(feedback.user.dob) %> years old</h4>
              </div>
            </div>
            
        <% end %>    
<% end %><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Admins</h2>
          <p>Feel free to contact our team</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
            <%= image_tag "team/team-1.JPG" %>
              
              <h4>Ivanna Hontaryk</h4>
              <span>Chief Executive Officer</span>
              <p>
                She is the highest-ranking executive in a company. Her primary 
                responsibilities include making major corporate decisions, managing the overall operations and resources 
                of a company.
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
            <%= image_tag "team/team-2.JPG" %>
              <h4>Diana Hontaryk</h4>
              <span>Product Manager</span>
              <p>
                 She owns the business strategy behind a product, specify its functional requirements, 
                 and generally manage the launch of features. She coordinates work done by many other functions.
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
            <%= image_tag "team/team-3.JPG" %>
              <img src="assets/images/team/team-3.jpg" alt="">
              <h4>Super Admin</h4>
              <span>System Administrator</span>
              <p>
                He is responsible for the upkeep, configuration, and reliable operation of computer systems; 
                especially multi-user computers, such as servers. He seeks to ensure that the uptime, performance, 
                and security of the computers meet the needs of the company.
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    </body>