<%= form_with(model: feedback) do |form| %>
 
  <div class="field form-group">
    <% form.label :recommendation %>
    <%= form.text_field :recommendation,  class:"form-control w-100", placeholder: 'recommendation' %>
  </div>
  <br>
  <div class="field form-group">
    <% form.label :experience %>
    <%= form.text_area :experience, class:"form-control w-100", :rows => 10, placeholder: 'experience' %>
  </div>
<br>
  
  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class:"btn btn-primary" %>
  </div>
  <% end %>
  <br>



    
    
